export KEY_COUNTRY="{{ ansible_openvpn__easyrsa_country }}"
export KEY_PROVINCE="{{ ansible_openvpn__easyrsa_province }}"
export KEY_CITY="{{ ansible_openvpn__easyrsa_city }}"
export KEY_ORG="{{ ansible_openvpn__easyrsa_org }}"
export KEY_EMAIL="{{ ansible_openvpn__easyrsa_email }}"
export KEY_OU="{{ ansible_openvpn__easyrsa_ou }}"
